.expense-table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  display: flex;
  justify-content: space-evenly;
}

.expense {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
